$arrow-margin: 40px;

.image-gallery {
    display: flex;
    height: 100%;

    .gallery-arrow {
        opacity: 1;
        transition: opacity, width 0.3s;
        display: flex;
        align-items: center;
        font-size: 50px;
        cursor: pointer;
        will-change: opacity, width;

        &.gallery-arrow-next {
            margin-left: $arrow-margin;
        }

        &.gallery-arrow-prev {
            margin-right: $arrow-margin;
        }

        &.hidden {
            opacity: 0;
            width: 0;
            margin: 0;
            pointer-events: none;
            cursor: default;
        }
    }

    .scroller {
        overflow: hidden;
        position: relative;
        flex: 1;

        .content {
            display: flex;
            box-sizing: border-box;
            transition: transform 0.4s ease-out;
            height: 100%;
            position: absolute;
            align-items: flex-end;
            will-change: transform;
    
            > div {
                margin-left: 10px;
                box-sizing: border-box;
                border: 1px solid black;
            }
    
            > div:first-child {
                margin-left: 0px;
            }
        }
    }
}