
.App {

    button {
        height: 100%;
        width: 100px;
    }

    .image-gallery-container {
        height: 200px;
        width: 800px;

        .content {
            > div {
                background: url('https://vignette.wikia.nocookie.net/animal-jam-clans-1/images/c/cf/PNGPIX-COM-Autumn-Tree-PNG-Transparent-Image-500x545.png/revision/latest/scale-to-width-down/440?cb=20170202040518');                
            }
        }
    }

}